<a href="https://colab.research.google.com/github/Mrshahzad01/Python-Course/blob/main/01-Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is python?**

  Python is a popular programming language.It was created by **Guido Van Rossum**,and released in 1991.

  **Use:**
 1. Web development
 2. Machine learning
 3. Data Science
 4. Artificial inteligence and more.

## **Python Syntax**

In [ ]:
print("Hello world!")

Hello world!

#**Python Indentation**

In Python, indentation is used to define block of code.

This mean that the lines of code within a block must
be indented by the same amount.**For Example:** The following code has a block of code that is indented by four space:

Correct code:

In [ ]:
if 7 > 4:
  print("seven is greater than four")

seven is greater than four

If the indentation is not correct,the code will not run properly.

Wrong code:

In [ ]:
# Wrong Indentation Example
# if 7 > 4:
# print("seven is greater than four")

#**Comments**

Comments in python are lines of code that are ignored by the interpreter.They are used to expalin code and make it easier to understand.

There are two ways to write comments in Python:

 1. **Single-line comments** start with a (#)symbol and continue to the end of the line.

 Example:

In [ ]:
# This is a single line comment.
print("Hello world!")

 2. **Multi-line comments** are enclosed in triple quotes (""" or """).

 Example:

In [ ]:
"""
This is a multi-line comment.
It can span multiple lines.
"""
print("Hello world!")

Hello world!

#**Variables**

A variable in Python is a symbolic name associated with a value. It acts as a container that stores data and allows you to perform operations on that data.

**For example,** you can create a variable called x and assign it the value 10. This is done using the assignment operator (=).

In [ ]:
x = 10
print(x)

10

### **Types of Python Variables**

  **1. Declaring Variable:**

Python variables don’t need explicit declaration.
And you simply assign a value to a variable name using the (=) operator.

**For Example:**

In [ ]:
x = 5  # Integer variable
name = "Alice"  # String variable
is_active = True  # Boolean variable

print(x)
print(name)
print(is_active)

5
Alice
True

2. **Variable Naming rule:**

Variable names must start with a letter or underscore (_), but can’t start with a number.

They can contain letters, numbers, and underscores.

Variable names are case-sensitive (age and Age are different).

**Multi Words Variable Names:**

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable.

> **Camel casa:**

Each word, except the first, starts with a capital letter.

In [ ]:
myVariableName = "John"

**Pascal Case**

Each word starts with a capital letter.

In [ ]:
MyVariableName = "John"

**Snake Case**

Each word is separated by an underscore character.

In [ ]:
my_variable_name = "John"

In [ ]:
# Variable name are case-sentitive (age and Age are diff)
age = 25
Age = 30
print(age)
print(Age)

25
30

**3. Assigning Multiple Variable**

You can assign multiple variable in one line.

In [ ]:
name, age, city = "Alice", 30, "New York"
print(name)
print(age)
print(city)

Alice
30
New York

**OR**

You can assign the same value to multiple variables in one line.

In [ ]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

 4. **Swapping Variable**

 In Python, swapping variables refers to the process of exchanging the values of two variables.

In [ ]:
# Suppose you have two variables
a = 5
b = 10

# Swapping their values
a, b = b, a

# Now, a will be 10 and b will be 5
print(a)
print(b)

10
5

5. **Dynamic typing**

Dynamic Typing Python is a dynamically typed language, meaning you don’t need to declare the data type of a variable. The type is inferred when you assign a value.

In [ ]:
x = 10  # Integer
x = "Hello"  # Now a string
print(x)

Hello

6. **Type checking**

Type Checking You can check the type of a variable using the type() function.

In [ ]:
x = "10"
age = 30
is_active = True
name = "Alice"
print(type(x))
print(type(age))
print(type(is_active))
print(type(name))

#   you can check id() function.
print(id(x))
print(id(age))
print(id(is_active))
print(id(name))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'str'>
137300904430000
137300911834256
98122604053536
137300454676592

7. **Typing casting**

Type Casting You can convert variables from one type to another (type casting).

For Example:

In [ ]:
x = "10"
print(type(x))
x = int(x)  # convert type str to int
print(type(x))

<class 'str'>
<class 'int'>

8. **Global and Local variable**
**Local variable**

A local variable is defined inside a function.
It can only be accessed within that function and is not available outside.
Once the function completes its execution, the local variable is destroyed.

For Exampl:

In [ ]:
def my_function():
    local_var = 10  # local variable
    print(local_var)  # Can be used only within this function

my_function()
# print(local_var)  # This will cause an error since local_var is not accessible here.

10

**Global Variable**

A global variable is defined outside of any function or block, typically at the top level of the script.
It can be accessed by any function or block within the script.
If a global variable needs to be modified inside a function, the global keyword must be used.

For Example:

In [ ]:
global_var = 20  # global variable

def my_function():
    print(global_var)  # Can access the global variable

my_function()
print(global_var)  # Can also access the global variable outside the function

20
20

**Modify global variable**

To modify a global variable inside a function, use the global keyword.

For Example:

In [ ]:
global_var = 20  # global variable

def modify_global():
    global global_var  # Use global keyword to modify
    global_var = 30  # Modify the global variable

modify_global()
print(global_var)  # Now global_var is 30

30

9. **Constant Variable**

Constant Variables Python doesn’t have built-in support for constants, but by convention, you can use all-uppercase names to indicate that a variable should not be change.

For Example:

In [ ]:

PI = 3.14 # value of PI

def Calculate_area(radius):
    return PI * radius* radius  # formula area of circle
radius = int(input("Enter num:"))

print(f"Total area: ", Calculate_area(radius))

Enter num:45
Total area:  6358.500000000001

# **Built-in Data Types**

In programming, data type is an important concept.
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	str

2. Numeric Types:	int, float, complex

3. Sequence Types:	list, tuple, range

4. Mapping Type:	dict

5. Set Types:	set, frozenset

6. Boolean Type:	bool

7. Binary Types:	bytes, bytearray, memoryview

8. None Type:	NoneType

Example:

In [ ]:
x = "Hello World"	# str
print(x)
print(type(x))

Hello World
<class 'str'>

In [ ]:
x = 34 # int
print(x)
print(type(x))

34
<class 'int'>

In [ ]:
x = 34.5 # float
print(x)
print(type(x))

34.5
<class 'float'>

In [ ]:
x = 1j # complex
print(x)
print(type(x))

1j
<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"] # list
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry") # tuple
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
x = range(4) # range
print(x)
print(type(x))

range(0, 4)
<class 'range'>

In [ ]:
x = {"key":"value",
     "2key":"2value"} # dict
print(x)
print(type(x))

{'key': 'value', '2key': '2value'}
<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"} # set
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"}) # frozenset
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [ ]:
x = True # bool
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
x = b"Hello" # bytes
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [ ]:
x = bytearray(5) # bytearray
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5)) # memoryview
print(x)
print(type(x))

<memory at 0x7f99ad0450c0>
<class 'memoryview'>

In [ ]:
x = None # NoneType
print(x)
print(type(x))

None
<class 'NoneType'>

# **String**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function.

In [ ]:
print("Hello")
print('Hello')
# multipline string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Hello
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Types of String**

### 1. Slycing string

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
#  Get the characters from position 2 to position 5

a = "Hello, World!"
print(a[2:5])


#   Slyce from the start (By leaving out the start index, the range will start at the first character)

b = "Hello, World!"
print(b[:5])

#   Slyce to the end (By leaving out the end index, the range will go to the end)

c = "Hello, World!"
print(c[2:])


# Negative indexing
# Use negative indexes to start the slice from the end of the string

d = "Hello, World!"
print(d[-5:-2])

llo
Hello
llo, World!
orl

### 2. **Contcatenation String**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "Ali"
# Merge variable (a) with variable (b) into variable c.
c = a + b
print(c)

HelloAli

To add a space between them,add a " "

In [ ]:
a = "Hello"
b = "Abid"
# adding the space
c = a + " " + b
print(c)

Hello Abid

### 3. **Format String**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this.

But we can combine strings and numbers by using f-strings or the format() method!

In [ ]:
age = 23
txt = f"My name is John, I am  {age}"
print(txt)

My name is John, I am  23

**F-String**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 36
# \n convert one line string to two line string.
txt = f" My name is John \n My age is {age}"
print(txt)

 My name is John
 My age is 36

**3. Escape Character**

In Python, an escape character is a backslash{ \" \"  } used to introduce special character sequences, enabling the inclusion of characters that would otherwise be difficult to include in a string.

 For example:

 To fix this problem, use the escape character \"

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**5. String methods**

1. capitalize()	   Converts the first character to upper case
2. casefold() Converts string into lower case
3. center()	Returns a centered string
4. count()	Returns the number of times a specified value occurs in a string
5. encode()	Returns an encoded version of the string
6. endswith()	Returns true if the string ends with the specified value
7. expandtabs()	Sets the tab size of the string
8. find()	Searches the string for a specified value and returns the position of where it was found
9. format()	Formats specified values in a string
10. format_map()	Formats specified values in a string
11. index()	Searches the string for a specified value and returns the position of where it was found
12. isalnum()	Returns True if all characters in the string are alphanumeric
13. isalpha()	Returns True if all characters in the string are in the alphabet
14. isascii()	Returns True if all characters in the string are ascii characters
15. isdecimal()	Returns True if all characters in the string are decimals
16. isdigit()	Returns True if all characters in the string are digits
17. isidentifier()	Returns True if the string is an identifier
18. islower()	Returns True if all characters in the string are lower case
19. isnumeric()	Returns True if all characters in the string are numeric
20. isprintable()	Returns True if all characters in the string are printable
21. isspace()	Returns True if all characters in the string are whitespaces
22. istitle()	Returns True if the string follows the rules of a title
23. isupper()	Returns True if all characters in the string are upper case
24. join()	Joins the elements of an iterable to the end of the string
25. ljust()	Returns a left justified version of the string
26. lower()	Converts a string into lower case
27. lstrip()	Returns a left trim version of the string
28. maketrans()	Returns a translation table to be used in translations
29. partition()	Returns a tuple where the string is parted into three parts
30. replace()	Returns a string where a specified value is replaced with a specified value
31. rfind()	Searches the string for a specified value and returns the last position of where it was found
32. rindex()	Searches the string for a specified value and returns the last position of where it was found
33. rjust()	Returns a right justified version of the string
34. rpartition()	Returns a tuple where the string is parted into three parts
35. rsplit()	Splits the string at the specified separator, and returns a list
36. rstrip()	Returns a right trim version of the string
37. split()	Splits the string at the specified separator, and returns a list
38. splitlines()	Splits the string at line breaks and returns a list
39. startswith()	Returns true if the string starts with the specified value
40. strip()	Returns a trimmed version of the string
41. swapcase()	Swaps cases, lower case becomes upper case and vice versa
42. title()	Converts the first character of each word to upper case
43. translate()	Returns a translated string
44. upper()	Converts a string into upper case
45. zfill()	Fills the string with a specified number of 0 values at the beginning

For Example:

In [ ]:

my_string = "  hello, Python World!  " # String

# capitalize()
print("capitalize():", my_string.capitalize())

# casefold()
print("casefold():", my_string.casefold())

# center()
print("center():", my_string.center(30, '-'))

# count()
print("count('o'):", my_string.count('o'))

# encode()
encoded = my_string.encode('utf-8')
print("encode():", encoded)

# endswith()
print("endswith('World!'):", my_string.endswith('World!'))

# expandtabs()
tabs_example = "Hello\tWorld"
print("expandtabs():", tabs_example.expandtabs(8))

# find()
print("find('Python'):", my_string.find('Python'))

# format()
formatted = "Hello, {}!".format("Abid")
print("format():", formatted)

# isalnum()
alnum_string = "Python123"
print("isalnum():", alnum_string.isalnum())

# isalpha()
alpha_string = "Python"
print("isalpha():", alpha_string.isalpha())

# isdigit()
digit_string = "12345"
print("isdigit():", digit_string.isdigit())

# join()
print("join():", '-'.join(['Python', 'is', 'fun']))

# lower()
print("lower():", my_string.lower())

# lstrip()
print("lstrip():", my_string.lstrip())

# replace()
print("replace():", my_string.replace("World", "Universe"))

# split()
print("split():", my_string.split())

# startswith()
print("startswith('hello'):", my_string.strip().startswith('hello'))

# strip()
print("strip():", my_string.strip())

# title()
print("title():", my_string.title())

# upper()
print("upper():", my_string.upper())

# zfill()
number = "42"
print("zfill():", number.zfill(5))

capitalize():   hello, python world!
casefold():   hello, python world!
center(): ---  hello, Python World!  ---
count('o'): 3
encode(): b'  hello, Python World!  '
endswith('World!'): False
expandtabs(): Hello   World
find('Python'): 9
format(): Hello, Abid!
isalnum(): True
isalpha(): True
isdigit(): True
join(): Python-is-fun
lower():   hello, python world!
lstrip(): hello, Python World!
replace():   hello, Python Universe!
split(): ['hello,', 'Python', 'World!']
startswith('hello'): True
strip(): hello, Python World!
title():   Hello, Python World!
upper():   HELLO, PYTHON WORLD!
zfill(): 00042

# **Boolean Expression**

Booleans represent one of two values: "True" or "False".

In programming you often need to know if an expression is "True" or "False".

For Example:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

# Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

Example

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

# **Python Operators**

Operators are used to perform operations on variables and values and we use the (+) operator to add together two values:

for example:

In [ ]:
print(23+34)

57

**Python divides the operators in the following groups:**

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

So,we start the operators

### **1. Arithmetic operator**

Arithmetic operators are used with numeric values to perform common mathematical operations:

1. "+" (Addition): Adds two operands.
2. "-" (Subtraction): Subtracts the second operand from the first.
3. "*" (Multiplication): Multiplies two operands.
4. "/" (Division): Divides the first operand by the second.
5. "%" (Modulus): Returns the remainder of the division.
6. "**" (Exponentiation): Raises the first operand to the power of the second.
7. "//" (Floor Division): Returns the quotient of the division, rounded down to the nearest whole number.

In [ ]:
x = 10
y = 3

# Addition
addition_result = x + y
print(f"Addition: {addition_result}")

# Subtraction
subtraction_result = x - y
print(f"Subtraction: {subtraction_result}")

# Multiplication
multiplication_result = x * y
print(f"Multiplication: {multiplication_result}")

# Division
division_result = x / y
print(f"Division: {division_result}")

# Modulus
modulus_result = x % y
print(f"Modulus: {modulus_result}")

# Exponentiation
exponentiation_result = x ** y
print(f"Exponentiation: {exponentiation_result}")

# Floor Division
floor_division_result = x // y
print(f"Floor Division: {floor_division_result}")

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

### **Assignment operator**

  Assignment operators are used to assign values to variables:

  1. = (Assignment)

This is the basic assignment operator. It assigns the value on the right to the variable on the left.
- Example: x = 5 assigns the value 5 to the variable x.
2. += (Add and Assign)

This operator adds the value on the right to the variable on the left and assigns the result back to the variable.
- Example: x += 3 is equivalent to x = x + 3. If x was initially 5, it will become 8 after this operation.
3. -= (Subtract and Assign)

This operator subtracts the value on the right from the variable on the left and assigns the result back to the variable.
- Example: x -= 3 is equivalent to x = x - 3. If x was initially 5, it will become 2 after this operation.
4. *= (Multiply and Assign)

This operator multiplies the variable on the left by the value on the right and assigns the result back to the variable.
- Example: x *= 3 is equivalent to x = x * 3. If x was initially 5, it will become 15 after this operation.
5. /= (Divide and Assign)

This operator divides the variable on the left by the value on the right and assigns the result back to the variable.
- Example: x /= 3 is equivalent to x = x / 3. If x was initially 5, it will become approximately 1.6667 after this operation.
6. %= (Modulo and Assign)

This operator calculates the remainder when the variable on the left is divided by the value on the right and assigns the remainder back to the variable.
- Example: x %= 3 is equivalent to x = x % 3. If x was initially 5, it will become 2 after this operation (5 divided by 3 has a remainder of 2).
7. //= (Floor Division and Assign)

This operator performs floor division (division rounded down to the nearest integer) on the variable and the value, assigning the result back to the variable.
- Example: x //= 3 is equivalent to x = x // 3. If x was initially 5, it will become 1 after this operation (5 divided by 3, rounded down, is 1).
8. `=` (Exponentiation and Assign)**

This operator raises the variable on the left to the power of the value on the right and assigns the result back to the variable.
- Example: x **= 3 is equivalent to x = x ** 3. If x was initially 5, it will become 125 after this operation (5 raised to the power of 3 is 125).
9. &= (Bitwise AND and Assign)

This operator performs a bitwise AND operation between the variable and the value, assigning the result back to the variable.
- Example: x &= 3 is equivalent to x = x & 3. This operator works on the binary representations of the numbers.
10. |= (Bitwise OR and Assign)

This operator performs a bitwise OR operation between the variable and the value, assigning the result back to the variable.
- Example: `x |= 3` is equivalent to `x = x | 3`. This operator works on the binary representations of the numbers.
11. ^= (Bitwise XOR and Assign)

This operator performs a bitwise XOR operation between the variable and the value, assigning the result back to the variable.
- Example: `x ^= 3` is equivalent to `x = x ^ 3`. This operator works on the binary representations of the numbers.
12. ">>=" (Bitwise Right Shift and Assign)

This operator performs a bitwise right shift on the variable by the number of bits specified on the right, assigning the result back to the variable.
- Example: `x >>= 3` is equivalent

In [ ]:
# Basic Assignment
x = 10
print(f"x = {x}")

# Add and Assign
x += 5
print(f"x += 5: {x}")

# Subtract and Assign
x -= 3
print(f"x -= 3: {x}")

# Multiply and Assign
x *= 2
print(f"x *= 2: {x}")

# Divide and Assign
x /= 4
print(f"x /= 4: {x}")

# Modulo and Assign
x %= 5
print(f"x %= 5: {x}")

# Floor Division and Assign
x = 10  # Reset x to an integer
x //= 3
print(f"x //= 3: {x}")

# Exponentiation and Assign
x **= 2
print(f"x **= 2: {x}")

# Bitwise AND and Assign
x &= 5
print(f"x &= 5: {x}")

# Bitwise OR and Assign
x |= 3
print(f"x |= 3: {x}")

# Bitwise XOR and Assign
x ^= 2
print(f"x ^= 2: {x}")

# Bitwise Right Shift and Assign
x >>= 1
print(f"x >>= 1: {x}")

# Bitwise Left Shift and Assign
x <<= 2
print(f"x <<= 2: {x}")

# Walrus Operator (Assignment Expression)
print(f"x := 5: {(x := 5)}")
print(f"x: {x}")

x = 10
x += 5: 15
x -= 3: 12
x *= 2: 24
x /= 4: 6.0
x %= 5: 1.0
x //= 3: 3
x **= 2: 9
x &= 5: 1
x |= 3: 3
x ^= 2: 1
x >>= 1: 0
x <<= 2: 0
x := 5: 5
x: 5

### **Comparison Operator**

Comparison operators are used to compare two values and return a Boolean result (True or False) based on the comparison.

1. == (Equal)

This operator checks if two values are equal.
- Example: x == y returns True if the value of x is equal to the value of y, otherwise False.
2. != (Not equal)

This operator checks if two values are not equal.
- Example: x != y returns True if the value of x is not equal to the value of y, otherwise False.
3. '>' (Greater than)

This operator checks if the value on the left is greater than the value on the right.
- Example: x > y returns True if the value of x is greater than the value of y, otherwise False.
4. < (Less than)

This operator checks if the value on the left is less than the value on the right.
- Example: x < y returns True if the value of x is less than the value of y, otherwise False.
5. '>=' (Greater than or equal to)

This operator checks if the value on the left is greater than or equal to the value on the right.
- Example: x >= y returns True if the value of x is greater than or equal to the value of y, otherwise False.
6. <= (Less than or equal to)

This operator checks if the value on the left is less than or equal to the value on the right.
- Example: x <= y returns True if the value of x is less than or equal to the value of y, otherwise False.

In [ ]:
x = 10
y = 5

print(f"x == y: {x == y}")
print(f"x != y: {x != y}")
print(f"x > y: {x > y}")
print(f"x < y: {x < y}")
print(f"x >= y: {x >= y}")
print(f"x <= y: {x <= y}")

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

### **Logical Operator**

Logical operators are used to combine conditional statements and produce a Boolean result (True or False) based on the logical relationship between the conditions.

Here are the three main logical operators in Python:

1. and (Logical AND)

This operator returns True if both conditions are True. If either condition is False, it returns False.
- Example: x > 5 and y < 10 returns True only if both x is greater than 5 and y is less than 10.
2. or (Logical OR)

This operator returns True if at least one of the conditions is True. It returns False only if both conditions are False.
- Example: x > 5 or y < 10 returns True if either x is greater than 5 or y is less than 10 (or both).
3. not (Logical NOT)

This operator reverses the result of a condition. If a condition is True, not makes it False, and vice versa.
- Example: not x > 5 returns True if x is not greater than 5.

In [ ]:
x = 10
y = 5

print(f"x > 5 and y < 10: {x > 5 and y < 10}")
print(f"x > 15 or y < 3: {x > 15 or y < 3}")
print(f"not x == y: {not x == y}")

x > 5 and y < 10: True
x > 15 or y < 3: False
not x == y: True

### **Identity Operator**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

1. is

This operator returns True if both variables point to the same object in memory, otherwise False.
- Example: x is y returns True if x and y refer to the same object.
2. is not

This operator returns True if both variables do not point to the same object in memory, otherwise False.
- Example: x is not y returns True if x and y refer to different objects.

In [ ]:
# "Using is"
x = [1, 2, 3]
y = x  # `y` refers to the same object as `x`
z = [1, 2, 3]  # `z` is a different object with the same value

print(x is y)  # True, because `x` and `y` refer to the same object
print(x is z)  # False, because `x` and `z` are different objects

True
False

In [ ]:
# Using "is not"
x = [1, 2, 3]
z = [1, 2, 3]

print(x is not z)  # True, because `x` and `z` do not refer to the same object

True

In [ ]:
# Equality vs Identity:

"""The "==" operator checks if two objects have the same value.
The "is" operator checks if two objects are the same instance (memory location)."""

x = [1, 2, 3]
z = [1, 2, 3]
print(x == z)
print(x is z)

True
False

In [ ]:
"""
Immutable Types:
For immutable types like integers, strings, and tuples, Python may optimize memory
usage by referring to the same object for identical values"""
a = 10
b = 10
print(a is b)  # True, because small integers are cached

"""
Mutable Types:
For mutable types like lists and dictionaries, identical values are usually stored in separate objects.
"""
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)  # False, because they are stored as separate objects

True
False

### **Membership Operator**

Membership operators are used to test if a sequence is presented in an object.

There are two membership operators.

1. in

This operator returns True if the value or variable is found in the sequence, otherwise False.
- Example: 'a' in 'banana' returns True because the letter 'a' is present in the string 'banana'.
2. not in

This operator returns True if the value or variable is not found in the sequence, otherwise False.
- Example: 'x' not in 'banana' returns True because the letter 'x' is not present in the string 'banana'.

In [ ]:
#  Using "in"
# Strings
text = "Hello, world!"
print("Hello" in text)
print("Python" in text)

# Lists
numbers = [1, 2, 3, 4, 5]
print(3 in numbers)
print(10 in numbers)

# Tuples
my_tuple = (10, 20, 30)
print(20 in my_tuple)

# Sets
my_set = {100, 200, 300}
print(100 in my_set)

# Dictionaries (keys only)
my_dict = {"a": 1, "b": 2, "c": 3}
print("a" in my_dict)
print(1 in my_dict)

True
False
True
False
True
True
True
False

In [ ]:
# Using "not in"
# Strings
text = "Hello, world!"
print("Python" not in text)

# Lists
numbers = [1, 2, 3, 4, 5]
print(10 not in numbers)

# Dictionaries
my_dict = {"a": 1, "b": 2, "c": 3}
print("z" not in my_dict)

True
True
True

### **Bitwise Operator**


Bitwise operators work on the individual bits of integers. They perform operations on the binary representations of numbers.

Here are the bitwise operators in Python.
1. Bitwise And(&):

Sets each bit to 1 if both corresponding bits in the operands are 1.	x & y.	1

In [ ]:
x = 5  # 0b0101
y = 3  # 0b0011
result = x & y  # 0b0001
print(result)

1

2. Bitwise OR(|):

 Sets each bit to 1 if at least one corresponding bit in the operands is 1.	x | y.	7

In [ ]:
x = 5  # 0b0101
y = 3  # 0b0011
result = x | y  # 0b0111
print(result)

7

3. Bitwise XOR(^):

Sets each bit to 1 if only one corresponding bit in the operands is 1.	x ^ y.	6

In [ ]:
x = 5  # 0b0101
y = 3  # 0b0011
result = x ^ y  # 0b0110
print(result)

6

4. Bitwise NOT(~):

Inverts all the bits of the operand.

In [ ]:
x = 5  # 0b0101
result = ~x  # Inverts all bits: -(x+1)
print(result)

-6

5. Zero fill left shift(<<)

Shifts the bits of the operand to the left by the specified number of positions.	x << 2.	20

In [ ]:
x = 5  # 0b0101
result = x << 2  # Shift left by 2 bits: 0b010100
print(result)

20

6. Signed right shift(>>):

Shifts the bits of the operand to the right by the specified number of positions.	x >> 2.	1

In [ ]:
x = 5  # 0b0101
result = x >> 2  # Shift right by 2 bits: 0b0001
print(result)

1

# **IF Else-Elif & Conditional statement**

 if, else, and elif statements in Python. These are conditional statements that allow you to control the flow of your code based on certain conditions.

### 1.  The "if" Statement:

- Purpose: Executes a block of code only if a specified condition is True.
- Syntax

if condition:
         # Code to execute if the condition is True

Example

In [ ]:
age = 18   # age is variable and 18 is a value of variable "age"
if age >= 18:   # actually ">=" this used for camparision operators
    print("You are an adult.")

You are an adult.

### 2. The else Statement:

- Purpose: Provides an alternative block of code to execute if the if condition is False.

- Syntax:

if condition:
         # Code to execute if the condition is True
     else:
         # Code to execute if the condition is False

Example

In [ ]:
age = 18
if age >= 18:    # actually ">=" this used for camparision operators
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

### 3. The elif Statement:

- Purpose: Allows you to check multiple conditions sequentially. If the if condition is False, it checks the elif condition, and so on.

- Syntax:

if condition1:
         # Code to execute if condition1 is True
     elif condition2:
         # Code to execute if condition2 is True
     else:
         # Code to execute if none of the above conditions are True
Example

In [ ]:
score = 70
if score >= 90:     #  condition_1
    print("Grade: A")
elif score >= 80:  #  condition_2
    print("Grade: B")
elif score >= 70:   #  condition_3
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

### Important Considerations:

- Indentation: Python uses indentation to define code blocks. Make sure the code inside if, elif, and else blocks is properly indented.
- Boolean Expressions: Conditions in if, elif statements must evaluate to True or False. You can use comparison operators (like ==, !=, >, <, >=, <=), logical operators (like and, or, not), and other expressions that produce Boolean results.

# **Python Loops**

Pyhton has two primitive loop commands.
- while loop
- for loop

### 1. While loop

With the while loop we can execute a set of statements as long as a condition is true.

Example

In [ ]:
#  Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

### "break" statement

The break statement we can stop the loop even if the while condition is true:

Example

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:  # Exit the loop when i is 3
    break
  i += 1

1
2
3

### "continue" statement

The continue statement we can stop the current iteration, and continue with the next.

Example

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:  # Skip the current iteration when i is 3
    continue
  print(i)

1
2
4
5
6

### 2. For loop

A for loop is a control flow statement that allows you to iterate over a sequence of items (like a list, tuple, string, or range) and execute a block of code for each item in the sequence.

- Syntax

for item in sequence:
    # Code to execute for each item

-  for keyword: Indicates the start of the loop.
- item: A variable that takes on the value of each element in the sequence during each iteration. You can choose any valid variable name.
- in keyword: Connects the item variable to the sequence.
- sequence: The iterable object (list, tuple, string, range, etc.) that you want to loop through.
- Indented code block: The code that will be executed repeatedly for each item in the sequence.

Example

In [ ]:
fruits = ["apple", "banana", "cherry"]   # that is list
for fruit in fruits:
    print(fruit)

apple
banana
cherry

###Looping Through a String

Even strings are iterable objects, they contain a sequence of characters.

Example

In [ ]:
#  Loop through the letters in the word "apple"
for fruits in "apple":
    print(fruits)

a
p
p
l
e

### for loop with range() function

The range() function can be used to create a sequence of numbers that you can iterate over with a for loop.

- syntax

range(start, stop, step)

- start: Optional. An integer specifying where to start the sequence (default is 0).
- stop: Required. An integer specifying where to end the sequence (the sequence will stop before this number).
- step: Optional. An integer specifying the increment between each number in the sequence (default is 1).

Examples

In [ ]:
for i in range(5):  # Iterates from 0 to 4
    print(i)

0
1
2
3
4

In [ ]:
for i in range(3, 7):  # Iterates from 3 to 6
    print(i)

3
4
5
6

In [ ]:
for i in range(2, 10, 2):  # generates num from 2 to 8, incrementing by 2.
  print(i)

2
4
6
8

In [ ]:
for x in range(6):
  if x==3:
    break   # break function
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested loop

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop".

Example

In [ ]:
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "green"]

for fruit in fruits:
    for color in colors:   # this is nested loop
        print(color, fruit)

red apple
yellow apple
green apple
red banana
yellow banana
green banana
red cherry
yellow cherry
green cherry

### Pass statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

Example

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
# another example
for i in range(5):  # Iterate from 0 to 4
  if i == 2:
    # Skip processing when i is 2
    pass
  else:
    print(f"Processing: {i}")

Processing: 0
Processing: 1
Processing: 3
Processing: 4

# **Functions**

A function is a block of code that performs a specific task. Once you create a function, you can use it again and again, saving time and effort.


- How to Create a Function?
1. 'def' keyword: Used to start a function.
2. Function name: Any name you want to give.
3. Parentheses (): Write inputs (parameters) inside if needed.
4. Colon (:): Shows that the function’s code is starting.
5. Indentation: Code inside the function should be indented (spaces).

- Syntax:

def function_name(parameters):
    # Write the task here
    return output  # Optional

Examples:

In [ ]:
# Example 01
# function to print a name
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [ ]:
# Example 02
# funtion to two add number

def add_numbers(a, b):
    return a + b  # Returns the sum of two numbers

result = add_numbers(5, 3)
print(result)

8

In [ ]:
# Example 03
# funtion without input
def say_hello():
    print("Hello, World!")  # Simply prints Hello, World!

say_hello()

Hello, World!

###Notes Summary:

- A function makes your code reusable and organized.
- Use def to define a function.
- Functions can take inputs (parameters).
- Use return to send a result back.
- Indentation is important in Python.

# **Python Collections (Arrays) & Data Structure**

- There are four collection data types in the Python programming language

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered** and changeable. No duplicate members.


#1.  List

In Python, a list is a collection of items that are ordered, changeable (mutable), and allow duplicate values. Lists are one of the most commonly used data structures in Python.

**Key Characteristics of a List:**


**Ordered:** Items have a specific order, and that order will not change unless explicitly modified.

**Mutable:** You can modify the elements of a list (e.g., add, remove, or change elements).

**Allows Duplicates:** A list can contain the same item multiple times.
OR

Lists are defined using square brackets [ ], and items are separated by commas.

Example:

In [ ]:
fruits = ["apple", "banana", "cherry"]  # List
print(fruits)

#  Lists can also contain elements of different data types
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)


# List Lenght
my_list = ["apple", "banana", "cherry"]
print(len(my_list))
print(type(my_list))   # type of list
print(id(my_list))     # id of list

['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]
3
<class 'list'>
132874326544128

In [ ]:
# List Constructor
"""It is also possible to use the list() constructor when creating a new list"""

my_list = list(("apple", "banana", "cherry"))  # note the double round-brackets
print(my_list)

# Check if item exit
"""To determine if a specified item is present in a list, use the in keyword"""

my_list = ["apple", "banana", "cherry"]
if "apple" in my_list:
    print("Yes, 'apple' is in the fruits list")

['apple', 'banana', 'cherry']
Yes, 'apple' is in the fruits list

In [ ]:
# Access list items
"""You can access list items by referring to the index number:"""

my_list = ["apple", "banana", "cherry"]
print(my_list[1])

# Negative indexing
"""Negative indexing means start from the end"""

my_list = ["apple", "banana", "cherry"]
print(my_list[-1])

# Range of indexs
"""You can specify a range of indexes by specifying where to start and where to end the range"""

my_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(my_list[2:5])

# Range of negative indexs
"""Specify negative indexes if you want to start the search from the end of the list"""

my_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(my_list[-4:-1])

banana
cherry
['cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']

In [ ]:
# change list item
"""To change the value of a specific item, refer to the index number"""

my_list = ["apple", "banana", "cherry"]
my_list[1] = "blackcurrant"
print(my_list)

['apple', 'blackcurrant', 'cherry']

### List Method

1. append()

Adds an element to the end of the list.

In [ ]:
list = [1, 2, 3]
list.append(4)
print(list)

[1, 2, 3, 4]

2. extend()

Adds all elements from an iterable (like another list) to the end of the list.

In [ ]:
list = [1, 2, 3]
list.extend([4, 5])
print(list)

[1, 2, 3, 4, 5]

3. insert()

Inserts an element at a specified position.

In [ ]:
list = [1, 2, 3]
list.insert(1, 4)
print(list)

[1, 4, 2, 3]

4. remove()

Removes the first occurrence of the specified value.

In [ ]:
list = [1, 2, 3, 2]
list.remove(2)
print(list)

[1, 3, 2]

5. pop()

Removes and returns the element at a specified index (default is the last element).

In [ ]:
list = [1, 2, 3]
removed_element = list.pop(0)
print(removed_element)

1

6. clear()

Removes all elements from the list.

In [ ]:
list = [1, 2, 3]
list.clear()
print(list)

[]

7. index()

Returns the index of the first occurrence of the specified value.

In [ ]:
list = [1, 2, 3, 2]
index = list.index(1)
print(index)

0

8. count()

Returns the number of occurrences of a specified value.

In [ ]:
list = [1, 2, 3, 2]
count = list.count(1)
print(count)

1

9. sort()

Sorts the list in ascending order (can specify reverse=True for descending).

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

[1, 2, 3]

10. reverse()

Reverses the order of the list.

In [ ]:
list  = [1, 2, 3]
list.reverse()
print(list)

[3, 2, 1]

11. copy()

Returns a shallow copy of the list.

In [ ]:
list = [1, 2, 3]
new_list = list.copy()
print(new_list)

[1, 2, 3]

12. list comprehension

List comprehensions provide a concise way to create lists. It’s a single-line syntax for iterating over an iterable and performing operations.

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = [x * 2 for x in my_list]
print(new_list)

# list with candition
my_list = [1, 2, 3, 4, 5]
new_list = [x for x in my_list if x % 2 == 0]
print(new_list)

[2, 4, 6, 8, 10]
[2, 4]

13. Nested list

Lists can contain other lists, allowing you to create multi-dimensional arrays.

In [ ]:
multi_list = [[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]
print(multi_list)
# Accessing element
print(multi_list[1][2])

# Iterating through a nested list
for row in multi_list:
  print(row)
  for element in row:
    print(element)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

### 2. Tuples

A tuple is an ordered, immutable collection of items in Python. Tuples are similar to lists, but they cannot be modified after creation, making them ideal for representing fixed collections of items.

Characteristics of Tuples:

1. Immutable: You cannot add, remove, or modify elements once a tuple is created.
2. Ordered: Tuples maintain the order of their elements.
3.Heterogeneous: A tuple can contain elements of different data types (e.g., integers, strings, other tuples).
4. Allows duplicates: Tuples can contain duplicate values

Tuples are defined using parentheses () or by simply separating values with commas.

In [ ]:
# creating tuple
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

# Tuple with different data types
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 2, 3)
<class 'tuple'>
(1, 'hello', 3.14, True)

In [ ]:
# Accessing tuple elements
my_tuple = (1, 2, 3)
print(my_tuple[0])

# negative indexing
print(my_tuple[-1])

# slicing
print(my_tuple[1:3])
print(my_tuple[:2])
print(my_tuple[1:])
print(my_tuple[-2:0:-1])

1
3
(2, 3)
(1, 2)
(2, 3)
(2,)

**Tuple Method**

1. count()
2. index()

In [ ]:
# 1. count method
my_tuple = (1, 2, 3, 2)
count = my_tuple.count(2)
print(count)
print(my_tuple.count)

# 2. index method

my_tuple = (1, 2, 3)
index = my_tuple.index(2)
print(index)

2
<built-in method count of tuple object at 0x7969398a4cc0>
1

In [ ]:
# Nesting tuple

nested_tuple = ((1, 2), (3, 4))
print(nested_tuple)
print(nested_tuple[0])

((1, 2), (3, 4))
(1, 2)

In [ ]:
#  Tuple Packing and Unpacting
"""Tuples allow packing multiple values into one variable and unpacking them into individual variables."""

tup = 1,2,3   # Packing

a,b,c = tup  # Unpacking
print(a,b,c)

1 2 3

In [ ]:
# Using Asterisk (*)

"""If the number of variables is less than the number of values, you can add an * to the
 variable name and the values will be assigned to the variable as a list"""

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### 3. Dictionary

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

- Dictionaries are written with curly brackets, and have keys and values.

Example

In [ ]:
thisdict = {
  "brand": "Ford",         #  brand is key and ford is a value of brand
  "model": "Mustang",      # key:value
  "year": 1964
}
print(thisdict)

# print any one dict item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])
print(len(thisdict))    # len function used
print(type(thisdict))    #type function used

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3
<class 'dict'>

In [ ]:
# dict constructor

"""It is also possible to use the dict() constructor to make a dictionary."""
thisdict = dict(name = "abid", age = 36, country = "Pakistan")
print(thisdict)

{'name': 'abid', 'age': 36, 'country': 'Pakistan'}

**Accessing item**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

# get() method that will give you the same result
x = thisdict.get("model")
print(x)
# functions used
print(thisdict.keys())    # key function (it's mean all key print in dict)
print(thisdict.values())  # value function (it's mean all value print in dict)
print(thisdict.items())   # item function(it's mean all item print in the dict )

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

**Nested Dict**


A nested dictionary in Python is a dictionary inside another dictionary. This structure allows you to organize data hierarchically, where each key in a dictionary can point to another dictionary, enabling complex data representations.

Example

In [ ]:
# A nested dictionary
student_data = {
    "student1": {
        "name": "Alice",
        "age": 21,
        "grades": {"math": 90, "science": 85}
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "grades": {"math": 78, "science": 88}
    }
}

# Accessing nested dictionary values
print(student_data["student1"]["name"])
print(student_data["student1"]["grades"]["math"])

Alice
90

### Dictionary Method

1. dict.clear()

Removes all items from the dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()
print(my_dict)

{}

2. dict.copy()

Returns a shallow copy of the dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = my_dict.copy()
print(new_dict)

# another example
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = dict(my_dict)
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

3. dict.fromkeys(iterable, value=None)

Creates a new dictionary with keys from an iterable and values set to a default value.

In [ ]:
my_dict = dict.fromkeys(['a', 'b', 'c'], 0)
print(my_dict)

# Example 2
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = dict.fromkeys(keys, values)
print(my_dict)

# Example 3
keys = ['a', 'b', 'c']
my_dict = dict.fromkeys(keys)
print(my_dict)

# Example 4
keys = ["a", "b", "c"]
new_dict = dict.fromkeys(keys, 0)
print(new_dict)

{'a': 0, 'b': 0, 'c': 0}
{'a': [1, 2, 3], 'b': [1, 2, 3], 'c': [1, 2, 3]}
{'a': None, 'b': None, 'c': None}
{'a': 0, 'b': 0, 'c': 0}

4.  dict.get(key, default=None)

Returns the value for the specified key if it exists, otherwise returns a default value.

In [ ]:
my_dict = {"a": 1}
print(my_dict.get("a"))
print(my_dict.get("b", "Not found"))

# Example 2
my_dict = {}
print(my_dict.get("a", "Not found"))

# Example 3
my_dict = {"a": 1, "b": 2}
print(my_dict.get("a", "Not found"))

1
Not found
Not found
1

5. dict.items()

Returns a view object containing the dictionary's key-value pairs.

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict.items())

# Example 2
my_dict = {}
print(my_dict.items())

dict_items([('a', 1), ('b', 2)])
dict_items([])

6. dict.keys()

Returns a view object containing the dictionary's keys.

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict.keys())

dict_keys(['a', 'b'])

7. dict.values()

Returns a view object containing the dictionary's values.

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict.values())

dict_values([1, 2])

8. dict.pop(key, default=None)

Removes the specified key and returns its value. If the key is not found, returns the default value.

In [ ]:
my_dict = {"a": 1, "b": 2}
value = my_dict.pop("a")
print(value)
print(my_dict)

# Example    del function use
my_dict = {"a": 1, "b": 2}
del my_dict["b"]
print(my_dict)

1
{'b': 2}
{'a': 1}

9. dict.popitem()

Removes and returns the last key-value pair as a tuple. Raises a KeyError if the dictionary is empty.

In [ ]:
my_dict = {"a": 1, "b": 2}
item = my_dict.popitem()
print(item)
print(my_dict)

('b', 2)
{'a': 1}

10. dict.setdefault(key, default=None)

Returns the value of the specified key. If the key does not exist, inserts the key with the default value.

In [ ]:
my_dict = {"a": 1}
value = my_dict.setdefault("b", 2)
print(value)
print(my_dict)

2
{'a': 1, 'b': 2}

11. dict.update([other])

Updates the dictionary with key-value pairs from another dictionary or an iterable of key-value pairs.

In [ ]:
my_dict = {"a": 1}
my_dict.update({"b": 2, "c": 3})
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

12. dict.__contains__(key)

Checks if a key is in the dictionary (same as key in dict).

In [ ]:
my_dict = {"a": 1}
print("a" in my_dict)

# example 2
my_dict = {}
print("a" in my_dict)

True
False

13. dict.__delitem__(key)

Removes the item with the specified key (equivalent to del dict[key]).

In [ ]:
my_dict = {"a": 1, "b": 2}
del my_dict["a"]
print(my_dict)

{'b': 2}

14. dict.__getitem__(key)

eturns the value of the specified key (equivalent to dict[key]).

In [ ]:
my_dict = {"a": 1}
print(my_dict["a"])

1

15. dict.__setitem__(key, value)

Sets the value for the specified key (equivalent to dict[key] = value).

In [ ]:
my_dict = {}
my_dict["a"] = 1
print(my_dict)

{'a': 1}

### 4. Set


A set in Python is an unordered collection of unique and immutable elements. It is a built-in data structure that is commonly used when you need to store items without duplicates and perform operations like union, intersection, and difference efficiently.

**Key Characteristics of Sets:**

- Unordered: The elements in a set have no specific order, and their positions can change.
- Unique: Duplicate elements are automatically removed.
- Immutable Elements: The elements of a set must be immutable (e.g., numbers, strings, tuples).
- Dynamic: Sets can grow or shrink as you add or remove elements.

Sets are written with curly brackets{}.

In [ ]:
my_set = {1, 2, 3}
print(my_set)

# set constructor
my_set = set([1, 2, 3])
print(my_set)

# duplicates value not allowed and set ignore duplicate value
this_set = {"apple","banana","apple","mango"}
print(this_set)
print(len(this_set))  # used len() function
print(type(this_set)) # used type() function

{1, 2, 3}
{1, 2, 3}
{'banana', 'apple', 'mango'}
3
<class 'set'>

Access Set item:

- You cannot access items in a set by referring to an index or a key.

- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
this_set = {"apple","banana","mango"}
for x in this_set:
  print(x)

print("banana" in this_set)
print("banana" not in this_set)

banana
apple
mango
True
False

Join Sets:

There are several ways to join two or more sets in Python.

- The union() and update() methods joins all items from both sets.

- The intersection() method keeps ONLY the duplicates.

- The difference() method keeps the items from the first set that are not in the other set(s).

- The symmetric_difference() method keeps all items EXCEPT the duplicates.

1. Union():

The union() method returns a new set with all items from both sets.

In [ ]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
union_set = set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5}

- You can use the "|" operator instead of the union() method, and you will get the same result.

In [ ]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
union_set = set_1 | set_2
print(union_set)

# Join multiple sets with the union() method
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
set_3 = {5, 6, 7}
union_set = set_1.union(set_2, set_3)
print(union_set)


# Example 3
# Use | to join two sets
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
set_3 = {5, 6, 7}
union_set = set_1 | set_2 | set_3
print(union_set)

# join a set with tuple
set_1 = {1, 2, 3}
tuple_1 = (4, 5, 6)
union_set = set_1.union(tuple_1)
print(union_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

2. Update()

The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [ ]:
set_1 = {"a","b","c"}
set_2 = {3, 4, 5}
set_1.update(set_2)
print(set_1)

{'a', 3, 4, 5, 'b', 'c'}

3. Intersection()

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)


"""You can use the & operator instead of the intersection() method, and you will get the same result."""
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

# intersection_update
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}
{'apple'}
{'apple'}

4. Difference

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
# Keep all items from set1 that are not in set2
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

# Example 2
"""You can use the - operator instead of
 the difference() method, and you will get the same result."""

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2

print(set3)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [ ]:
# Use the difference_update() method to keep the items that are not present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

5. Symmetric Differences

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [ ]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [ ]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'google', 'banana', 'microsoft'}

**Set Methods**

Python has a set of built-in methods that you can use on sets.

1.  add()

Adds an element to the set. If the element is already present, it has no effect.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set1.add("orange")
print(set1)

{'apple', 'orange', 'banana', 'cherry'}

2. clear()

Removes all elements from the set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set1.clear()
print(set1)

set()

3. copy()

Returns a shallow copy of the set.

In [ ]:
# Example 1
set = {"apple", "banana", "cherry"}
new_set = set.copy()
print(new_set)

# Example 2
set = {"apple", "banana", "cherry"}
new_set = set
print(new_set)

{'apple', 'banana', 'cherry'}
{'apple', 'banana', 'cherry'}

4. discard()

Removes the specified element. Does not raise an error if the element is not found

In [ ]:
set = {"apple", "banana", "cherry"}
set.discard("banana")
print(set)

{'apple', 'cherry'}

5. isdisjoint()

Checks if two sets have no elements in common.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "facebook"}
print(set1.isdisjoint(set2))

True

6.   issubset()

Checks if all elements of one set are present in another.

In [ ]:
 # Example 1
set1 = {"a", "b", "c"}
set2 = {"f", "e", "d", "c", "b", "a"}
print(set1.issubset(set2))

# Example 2
set1 = {"a", "b", "c"}
set2 = {"f", "e", "d", "c", "b"}
print(set1.issubset(set2))

True
False

7. issuperset()

Checks if a set contains all elements of another set.

In [ ]:
set1 = {"f", "e", "d", "c", "b", "a"}
set2 = {"a", "b", "c"}
print(set1.issuperset(set2))

True

8. pop()

Removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.

In [ ]:
# Example 1
set = {"apple", "banana", "cherry"}
print(set.pop())

# Example 2
set = {"apple", "banana", "cherry"}
print(set.pop())
print(set)

apple
apple
{'banana', 'cherry'}

9. remove()

Removes the specified element. Raises KeyError if the element is not found.

In [ ]:
set = {"apple", "banana", "cherry"}
set.remove("banana")
print(set)

{'apple', 'cherry'}

# Difference between List,Tuple,Set and dictionary

In [ ]:
import pandas as pd
# You can create a table using Pandas in a Python code cell.
# Define data
data = {
    "Feature": [
        "Definition", "Mutability", "Order", "Duplicates",
        "Access Method", "Syntax", "Use Cases", "Methods",
        "Performance", "Example"
    ],
    "List": [
        "Ordered collection of items.", "Mutable (can be changed).",
        "Maintains insertion order.", "Allows duplicate elements.",
        "Index-based (`list[0]`).", "`[1, 2, 3]`.",
        "General-purpose ordered collection.", "Extensive (e.g., `append`, `remove`).",
        "Slower for membership testing (`in`).", "`my_list = [1, 2, 3]`."
    ],
    "Set": [
        "Unordered collection of unique items.", "Mutable (can add/remove elements).",
        "Does not guarantee order (before Python 3.7).", "Does not allow duplicates.",
        "No indexing; iterable.", "`{1, 2, 3}`.",
        "Unique items (e.g., set operations).", "Set-specific (e.g., `union`, `add`).",
        "Faster for membership testing.", "`my_set = {1, 2, 3}`."
    ],
    "Dict": [
        "Key-value pairs.", "Mutable (keys immutable, values mutable).",
        "Maintains insertion order (Python 3.7+).", "Keys are unique; values can duplicate.",
        "Key-based (`dict[key]`).", "`{key1: value1, key2: value2}`.",
        "Key-value mapping (e.g., lookups).", "Extensive (e.g., `get`, `items`).",
        "Fast lookups via keys.", "`my_dict = {'a': 1, 'b': 2}`."
    ],
    "Tuple": [
        "Ordered, immutable collection of items.", "Immutable (cannot be changed).",
        "Maintains order.", "Allows duplicate elements.",
        "Index-based (`tuple[0]`).", "`(1, 2, 3)`.",
        "Fixed data structure for constants.", "Few (e.g., `count`, `index`).",
        "Similar to list (but immutable).", "`my_tuple = (1, 2, 3)`."
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display as table
from IPython.display import display
display(df)

,Feature,List,Set,Dict,Tuple
0,Definition,Ordered collection of items.,Unordered collection of unique items.,Key-value pairs.,"Ordered, immutable collection of items."
1,Mutability,Mutable (can be changed).,Mutable (can add/remove elements).,"Mutable (keys immutable, values mutable).",Immutable (cannot be changed).
2,Order,Maintains insertion order.,Does not guarantee order (before Python 3.7).,Maintains insertion order (Python 3.7+).,Maintains order.
3,Duplicates,Allows duplicate elements.,Does not allow duplicates.,Keys are unique; values can duplicate.,Allows duplicate elements.
4,Access Method,Index-based (`list[0]`).,No indexing; iterable.,Key-based (`dict[key]`).,Index-based (`tuple[0]`).
5,Syntax,"`[1, 2, 3]`.","`{1, 2, 3}`.","`{key1: value1, key2: value2}`.","`(1, 2, 3)`."
6,Use Cases,General-purpose ordered collection.,"Unique items (e.g., set operations).","Key-value mapping (e.g., lookups).",Fixed data structure for constants.
7,Methods,"Extensive (e.g., `append`, `remove`).","Set-specific (e.g., `union`, `add`).","Extensive (e.g., `get`, `items`).","Few (e.g., `count`, `index`)."
8,Performance,Slower for membership testing (`in`).,Faster for membership testing.,Fast lookups via keys.,Similar to list (but immutable).
9,Example,"`my_list = [1, 2, 3]`.","`my_set = {1, 2, 3}`.","`my_dict = {'a': 1, 'b': 2}`.","`my_tuple = (1, 2, 3)`."

# **Python Lambda**
In Python, a lambda function is a small, anonymous function defined using the lambda keyword. It can take any number of arguments but has only a single expression. The expression is evaluated and returned as the function's result.

Syntax:

- lambda arguments: expression

1. arguments: The inputs (parameters) to the function.
2. expression: The operation or computation that the function performs, and its result is returned.

In [ ]:
# Example
# Add 10 to argument a, and return the result
x = lambda a: a + 10
print(x(2))

12

In [ ]:
# Example 2
square = lambda x: x ** 2
print(square(5))

25

In [ ]:
# Example 3
# lambda with mupltiple arguments

multiply = lambda x, y: x * y
print(multiply(2, 3))

6

In [ ]:
# Example 4
# use that functions
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(3)

print(mydoubler(11))

33

### Key Features
1. Anonymous: Lambda functions are not bound to a name unless assigned explicitly.
2. Single Line: They consist of a single expression and are concise.
3. Temporary Use: Typically used for small tasks or as an argument to higher-order functions like map(), filter(), or sorted().

In [ ]:
# map(): Applies a function to each item in an iterable.

numbers = [1, 2, 3, 4]
squared = map(lambda x: x ** 2, numbers)
print(list(squared))

[1, 4, 9, 16]

In [ ]:
# filter(): Filters items in an iterable based on a condition.
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4, 6]

In [ ]:
# sorted(): Custom sorting using lambda.
students = [("Alice", 25), ("Bob", 22), ("Charlie", 20)]
# Sort by age
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

# Another example
# Sort by name
sorted_students = sorted(students, key=lambda x: x[0])
print(sorted_students)

print(type(sorted_students))

[('Charlie', 20), ('Bob', 22), ('Alice', 25)]
[('Alice', 25), ('Bob', 22), ('Charlie', 20)]
<class 'list'>

**Why Use Lambda Functions?**

- The power of lambda is better shown when you use them as an anonymous function inside another function.
Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number.
- For short-lived functions that don’t need a name.
- When using higher-order functions (map, filter, etc.).
- For readability in simple cases.

# **Python Try Except**

In Python, the **try** and **except** blocks are used for handling exceptions (runtime errors) gracefully. They allow you to catch errors in your code and define how to handle them, preventing your program from crashing.

- Syntax:

try:
    # Code that may raise an exception
except ExceptionType:
    # Code to handle the exception

- How It works

1. **try Block:** Contains the code that might raise an exception.
2. **except Block:** Handles the exception if it occurs. You can specify the type of exception to catch (e.g., ValueError, ZeroDivisionError).
3. **Optional else Block:** Executes if no exceptions occur in the try block.
4. **Optional finally Block:** Always executes, whether an exception occurs or not. Useful for cleanup code.

### Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.
These exceptions can be handled using the "try" statement:

In [ ]:
# The try block will generate an exception, because x is not defined
try:
  print(x)
except:
  print("An exception occurred")

<function <lambda> at 0x7c5e86caf910>

Since the try block raises an error, the except block will be executed.
### Many Exceptions
You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [1]:
# Print one message if the try block raises a NameError and another for other errors
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [ ]:
# Example 3
# Print one message if the try block raises a NameError and another for other errors
try:
  print("Hello")
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Hello

In [ ]:
# Example 4
try:
    x = 8
    result = 10 / x  # Might raise ZeroDivisionError
    print(f"Result: {result}")
except ValueError:
    print("Invalid input!")
except ZeroDivisionError:
    print("Cannot divide by zero!")

Result: 1.25

### Else

You can use the else keyword to define a block of code to be executed if no errors were raised.

In [ ]:
# In this example, the try block does not generate any error
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")  # Always executes

Hello
Nothing went wrong

### Finally
The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [ ]:
x = 7
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")  # Always executes

7
The 'try except' is finished

In [ ]:
# Example 3
try:
    x = 6
    print(f"Square: {x ** 2}")
except ValueError:
    print("Please enter a valid number.")
else:
    print("Calculation successful!")  # Runs if no exception occurs
finally:
    print("Program ended.")  # Always executes

Square: 36
Calculation successful!
Program ended.

### Raise an exception
- As a Python developer you can choose to throw an exception if a condition occurs.

- To throw (or raise) an exception, use the raise keyword.

In [ ]:
# Example
# Raise an error and stop the program if x is lower than 0
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

- The raise keyword is used to raise an exception.

- You can define what kind of error to raise, and the text to print to the user.

In [ ]:
# Example
# Raise a TypeError if x is not an integer
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

# **Python User Input**

User input refers to the process of taking data from the user during the execution of a program. In Python, this is achieved using the input() function.

**input() Function**

- The input() function prompts the user to enter data via the keyboard.
- It always returns the user input as a string, regardless of what is entered.
 -  Python allows for user input.

 - That means we are able to ask the user for input.

- Syntax:

variable = input(prompt)

1. prompt:

 (Optional) A string displayed to the user as a message before they input data.
2. variable:

 A variable where the user's input will be stored.

Examples:

In [ ]:
# 1. Simple input
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: abid
Hello, abid!

In [ ]:
# 2. Taking Numerical Input
"""Since input() returns a string, you must convert it to the desired type (e.g., int, float)."""

age = int(input("Enter your age: "))  # Convert input to integer
print(f"You are {age} years old.")

Enter your age: 34
You are 34 years old.

In [ ]:
# 3. Handling Multiple Inputs
"""Using split() to take multiple inputs in one line."""

numbers = input("Enter numbers separated by spaces: ").split()
print(f"You entered: {numbers}")
print(type(numbers))

Enter numbers separated by spaces: 23 34 12
You entered: ['23', '34', '12']
<class 'list'>

**Use Cases of User Input**

- Interactive Programs: Gather user preferences, responses, or commands.
- Dynamic Data: Allow the user to provide data at runtime, e.g., for calculations or queries.
- Game Development: Collect choices or actions from players.

#**Python String Formatting**

String formatting in Python allows you to create strings by embedding variables and expressions into predefined text. This makes dynamic string creation efficient and readable. Python offers multiple ways to format strings:

**1. Using the format() Method**

The format() method allows placeholders {} in a string to be replaced with values.

Syntax:

In [ ]:
"string with placeholders {}".format(values)

In [ ]:
# Example
name = "Alice"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

My name is Alice and I am 25 years old.

In [ ]:
# Positional Arguments
print("{0} is learning {1}.".format("Alice", "Python"))

Alice is learning Python.

In [ ]:
# Keyword Arguments
print("{name} is {age} years old.".format(name="Bob", age=30))

Bob is 30 years old.

In [ ]:
# Formatting Numbers
pi = 3.14159
print("Pi is approximately {:.2f}".format(pi))  # 2 decimal places

Pi is approximately 3.14

**2. Using f-Strings (Python 3.6 and Later)**

f-Strings are the most modern and concise way to format strings. They start with an f and allow variables or expressions to be directly embedded in curly braces {}.

Syntax:

In [ ]:
f"string with {variable_or_expression}"

In [ ]:
# Example 1
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [ ]:
# Example 2
# Expressions in f-Strings
a = 5
b = 10
print(f"The sum of {a} and {b} is {a + b}.")

The sum of 5 and 10 is 15.

**3. Using String Concatenation (Not Recommended)**

String concatenation with + can be used for formatting but is less efficient and harder to read for complex strings.

Example:

In [ ]:
name = "Alice"
age = 25
print("My name is " + name + " and I am " + str(age) + " years old.")

My name is Alice and I am 25 years old.

**4. Using Percent (%) Formatting**

This is an older method, similar to C-style string formatting.

Syntax:

In [ ]:
"string with %s or %d" % (values)

In [ ]:
# Example
name = "Bob"
age = 30
print("My name is %s and I am %d years old." % (name, age))

My name is Bob and I am 30 years old.

In [ ]:
# Example 2
# Formating number
pi = 3.14159
print("Pi is approximately %.2f" % pi)  # 2 decimal places

Pi is approximately 3.14

## Formatting Types

Alignment and Sign Formatting

In [ ]:
"""1)  :<
Left-aligns the result within the available space."""

print("{:<10}".format("Hello"))

Hello

In [ ]:
"""2) :>
Right-aligns the result within the available space."""

print("{:>10}".format("Hello"))

     Hello

In [ ]:
"""3) :^
Centers the result within the available space."""

print("{:^10}".format("Hello"))

  Hello

In [ ]:
"""4)  :=
Places the sign (+ or -) to the leftmost position in numbers."""

print("{:=+10}".format(123))
print("{:=+10}".format(-123))

+      123
-      123

**Thousand Separators**

In [ ]:
"""1)  , (Comma)
Use a comma as a thousand separator."""

print("{:,}".format(1000000))

1,000,000

In [ ]:
"""2)  :_
Use an underscore as a thousand separator."""

print("{:_}".format(1000000))

1_000_000

**Number Formats**

In [ ]:
"""1)  :b
Binary format (base 2)."""

print("{:b}".format(10))

1010

In [ ]:
"""2)  :c
Converts the value into the corresponding Unicode character."""
print("{:c}".format(65))

A

### **Thanks**